[Unit]
Description=Stash service
After=network.target

[Service]
User=stash
Group=stash
ExecStart=/usr/bin/stash
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
